<h1>Building Detail fdsfdsf</h1>
<div class="col-sm-4">
	<address>
		<strong>{{ building.name }}</strong><br>
		{{ building.address_line_1 }}<br>
		{{ building.address_line_2 }} <br>
		{{ building.zip }}<br>
		{{ building.state }}<br>
		<p><strong>Units:</strong>
		  <ul>
		    <li ng-repeat="unit in building.units">{{ unit.unit_number }}</li>
		  </ul>
		</p>
	</address>
	<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<a href="#/buildings/{{ building.id }}/units/new" class="btn btn-success  btn-block">ADD NEW UNIT</a>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg">Some content</div>
	</div>
</div>