<div ng-controller="InspectionTemplateItemsCtrl">

      <p id="notice"><%= notice %></p>

      <div class="page-header">
        <h1>Listing Inspection Template Items</h1>
      </div>

      <div ng-repeat="item in items">

        <span ng-hide="item.editing">
          {{ $index }}: Name: {{ item.name }}, Section: {{ item.section }}
        </span>

        <span ng-show="item.editing" class="col-md-12">
          <form ng-submit="toggleEdit(item)">
            <div class="col-md-4" class="form-group">
              <input type="text" class="form-control" placeholder="Name" ng-model="item.name"></input>
            </div>
            <div class="col-md-4" class="form-group">
              <input type="text" class="form-control" placeholder="Section" ng-model="item.section"></input>
            </div>
            <button class="col-md-4" type="submit">Save Item</button>
          </form>
        </span>

        <button ng-hide="item.editing" ng-click="toggleEdit(item)">Edit Item</button>
      </div>


      <form ng-submit="addItem()">
        <h3>New Item</h3>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="name"></input>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Section" ng-model="section"></input>
        </div>

        <button type="submit">Add Item</button>
      </form>

      <%= link_to 'Edit', edit_inspection_template_path(@inspection_template) %> |
      <%= link_to 'Back', inspection_templates_path %>
</div>
