<span>
  <span>{{ item.name }}, Type: {{ item.score_type | scoreDisplay }} </span>
  <button ng-click="toggleEdit(item)" class="btn btn-default">Edit Item</button>
  <button ng-click="deleteItem(item)" class="btn btn-default">Delete Item</button>
</span>

<span ng-show="item.editing">
  <form ng-submit="toggleEdit(item)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" ng-model="item.name"></input>
    </div>

    <div class="form-group">
      <label>Section</label>
      <select class="form-control" ng-model="item.section">
        <option ng-repeat="item_section in inspection_template.sections" value="{{ item_section }}">{{ item_section }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Score Type</label>
      <select class="form-control" ng-model="item.score_type">
        <option ng-repeat="score_type in validScoreTypes" value="{{ score_type }}">{{ score_type | scoreDisplay}}</option>
      </select>
    </div>
    <button class="col-md-2" type="submit">Save Item</button>
  </form>
</span>