<h1>Listing Buildings</h1>

<loading-indicator loading="loading"></loading-indicator>

<div ng-hide="loading">

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th># Units</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="building in buildings">
      <td><a href="#/buildings/{{ building.id }}">View</a></td>
      <td>{{ building.name }}</td>
      <td>
        {{ building.units_count }}
      </td>
      <td>
        <button ng-click="destroyBuilding(building)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>

<form ng-submit="addBuilding()">
  <h3>New Building</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" ng-model="building.name"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Address" ng-model="building.address_line_1"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Zip" ng-model="building.zip"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="City" ng-model="building.city"></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="State" ng-model="building.state"></input>
  </div>

  <button type="submit">Add Building</button>
</form>