<div class="page-header">
  <h1>Building Detail</h1>
</div>
<p>Name: {{ building.name }}</p>
<p>Address: {{ building.address_line_1 }}</p>
<p>Zip: {{ building.zip }}</p>
<p>City: {{ building.city }}</p>
<p>State: {{ building.state }}</p>
<p>Units:
  <ul>
    <li ng-repeat="unit in building.units">
      Unit Number: {{ unit.unit_number }}
    </li>
  </ul>
</p>
<a href="#/buildings/{{ building.id }}/units/new" class="btn btn-success">New Unit</a>
