<h1>Inspection</h1>

<div class="col-sm-12">
  <div ng-include="'buildings/_building_map.html'"></div>
</div>
<div class=" col-sm-12  small-spacer"></div>

<div class="col-sm-12">
  <table class="table table-bordered table-striped">
    <thead ng-repeat-start="section in inspection.sections">
      <tr>
        <td colspan="3">{{ section }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody ng-repeat-end>
      <tr ng-repeat="item in inspection.items | filter: {section: section}:true">
        <td>{{ item.name }}</td>
        <td ng-include="'inspections/items/' + item.score_type + '.html'">
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success btn-block btn-lg" ng-click="saveInspection()">SAVE INSPECTION</button>
  <loading-indicator loading="loading"></loading-indicator>
  <error-indicator error="error"></error-indicator>
</div>

  

