<div class="page-header">
  <h1>Inspection</h1>
</div>
<p ng-include="'buildings/_basic_info.html'"></p>
<p ng-include="'units/_basic_info.html'"></p>
<p>Description: {{ inspection.description }}</p>

<table class="table table-bordered table-striped">
  
  <thead ng-repeat-start="section in inspection.sections">
    <tr>
      <td colspan="3">{{ section }}</td>
    </tr>
    <tr>
        
      <th>
        Name
      </th>

      <th>
        Score
      </th>

    </tr>
  </thead>

  <tbody ng-repeat-end>
    <tr ng-repeat="item in inspection.items | filter: {section: section}:true">
      <td>
        {{ item.name }}
      </td>

      <td ng-include="'inspections/items/' + item.score_type + '.html'">

      </td>
    </tr>
  </tbody>
</table>

<button ng-click="saveInspection()">Save Inspection</button>
<loading-indicator loading="loading"></loading-indicator>
<error-indicator error="error"></error-indicator>
