<div class="page-header">
  <h1>Inspection</h1>
</div>
<p ng-include="'buildings/_basic_info.html'"></p>
<p ng-include="'units/_basic_info.html'"></p>
<p>Description: {{ inspection.description }}</p>

<table class="table table-bordered table-striped">
  <tr>
      
    <th>
      Name
    </th>

    <th>
      Section
    </th>

    <th>
      Score
    </th>

  </tr>
  <tr ng-repeat="item in inspection.items">
    <td>
      {{ item.name }}
    </td>

    <td>
      {{ item.section }}
    </td>

    <td ng-include="'inspections/items/' + item.score_type + '.html'">

    </td>
  </tr>
</table>

<button ng-click="saveInspection()">Save Inspection</button>
<loading-indicator loading="loading"></loading-indicator>
<error-indicator error="error"></error-indicator>
