<div ui-view>
	<% if user_signed_in? %>
		<%= render partial: 'building_map' %>
	<% else %>
		<div class="container-fluid">
			<div class="row home-page-title">
		  		<h1 class="col-md-4 col-md-offset-4">Building Inspections</h1>
			</div>
			<div class="col-md-4 col-md-offset-4 sign-in-buttons">
			<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
			<%= link_to "Login",  new_user_session_path, class: 'btn btn-success btn-lg' %>
		</div>
			<div class="row marketing">

				<div class="col-md-3 col-md-offset-2">
					<h2>Inspect your Building Units</h2>
					<img src="http://www.ableinspections.com/wp-content/uploads/2015/10/new-construction-home-inspection.jpg" 
						class="img-circle center-block img-responsive" width="140" height="140">
					<br>
					<ul>
						<li>Make Inspections of your Buildings</li>
						<li>Keep record of all your Inspections</li>
						<li>Find out which inspections need attention</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h2>Create Inspection Templates</h2>
					<img src="http://vignette1.wikia.nocookie.net/clubpenguin/images/c/c7/Clipboard.png/revision/latest?cb=20090416000907" 
						class="img-circle center-block img-responsive" width="140" height="140">
					<br>
					<ul>
						<li>Create your own Inspection Template</li>
						<li>Template items can include sections of building wall, windows etc.</li>
						<li>Rate a inspection by pass/fail or 0-10</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h2>Manage Inspection Records</h2>
					<img src="https://myfiles.bolton.ac.uk/images/files.jpg" 
						class="img-circle center-block img-responsive" width="140" height="140">
					<br>
					<ul>
						<li>Personalized Reports</li>
						<li>Add users and manage their roles on who can edit/view</li>
						<li>Share records among users</li>
					</ul>
				</div>
			</div>
		</div>
		
	<% end %>
</div>