// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



html {
  background: grey;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  /*width: 80%;
  margin: 0 auto;*/
  background: white;
}