<div class="page-header">
  <h1>Inspection</h1>
</div>
<p>Description: {{ inspection.description }}</p>



<table class="table table-bordered table-striped">
  <tr>
      
    <th>
      Name
    </th>

    <th>
      Section
    </th>

    <th>
      Score
    </th>

  </tr>
  <tr ng-repeat="item in inspection.items">
      <td>
        {{ item.name }}
      </td>

      <td>
        {{ item.section }}
      </td>

      <td>
        {{ item.score_type }}
        <input ng-show="item.score_type === 'ZeroToTen'" type="text" class="form-control" placeholder="0-10" ng-model="item.score"></input>
        <select ng-show="item.score_type === 'PassFail'" ng-model="item.score">
          <option value="pass">Pass</option>
          <option value="fail">Fail</option>
        </select>
      </td>
  </tr>
</table>

<button ng-click="saveInspection()">Save Inspection</button>
<loading-indicator loading="loading"></loading-indicator>
<error-indicator error="error"></error-indicator>
