<div class="{{ pageClass }}" ng-view>
  <h1>Listing Inspection Templates</h1>

  <loading-indicator loading="loading"></loading-indicator>
  <error-indicator error="error"></error-indicator>

<div class="col-sm-6">
  <table class="table table-hover table-condensed modern" ng-show="inspection_templates">
    <thead>
      <tr>
        <th class="text-center">Add & Edit Inspection Template Items</th>
        <th>Name</th>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="inspection_template in inspection_templates">
        <td class="text-center"><a class="btn btn-success btn-md" href="#/inspection_templates/{{ inspection_template.id }}"><i class="fa fa-list-ol" aria-hidden="true"></i> Add Items </a></td>
        <td>{{ inspection_template.name }}</td>
        <td>
          {{ inspection_template.items_count }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <div class="col-sm-4">
    <form ng-submit="addInspectionTemplate()" class="form-inline">
      <h4>Create A New Inspection Template</h4>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon bg-primary"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i></div>
          <input type="text" class="form-control" placeholder="Name" ng-model="newInspectionTemplate.name"></input>
        </div>
      </div>
       <button class="btn btn-primary btn-md" type="submit">Submit</button>
    </form>
  </div>
</div>