<div class="page-header">
  <h1>Listing Inspection Template Items</h1>
</div>

<loading-indicator loading="loading"></loading-indicator>

<div ng-show="inspection_template">
  <p>Template: {{ inspection_template.name }}</p>
  <p>Sections: {{ inspection_template.sections }}</p>

  <form ng-submit="addSection()">
    <h3>New Section</h3>

    <div class="form-group">
      <label>Section</label>
      <input type="text" class="form-control" placeholder="Section" ng-model="newSection"></input>
    </div>

    <button type="submit" class="btn btn-success">Add Section</button>
  </form>

  <span ng-repeat="section in inspection_template.sections">
    <div>Section: {{ section }}</div>
    <div ng-repeat="item in inspection_template.items | filter: {section: section}:true">
    <div ng-include="'inspection_templates/items/_show.html'"></div>
      

    </div>
  </span>
</div>


<form ng-submit="addItem()">
  <h3>New Item</h3>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" ng-model="newItem.name"></input>
  </div>

  <div class="form-group">
    <label>Section</label>
    <input type="text" class="form-control" placeholder="Section" ng-model="newItem.section"></input>
  </div>

  <div class="form-group">
    <label>Score Type</label>
    <select class="form-control" ng-model="newItem.score_type">
      <option ng-repeat="score_type in validScoreTypes" value="{{ score_type }}">{{ score_type | scoreDisplay}}</option>
    </select>
  </div>

  <button type="submit">Add Item</button>
</form>